/* mdw.css */


        * {
            box-sizing: border-box; 
        }
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: row;
            margin: 0;
        }
        .col-1 {
            min-width: 180px;
            background: #D7E8D4;
        }
        .col-2 {
            min-width: 480px;
            display: flex;
            flex-direction: column;
            flex: 5;
        }

        .linkrow {
            width: 1050px;
            display: flex;
            flex-direction: row;
            border: solid #d4e6f0;
         }

        .linkitem1 {
            width: 350px;
            background: #cc9090;
            padding: 1em;
            text-align:center;            
            font-size: 120%;
            color: #09146c;
        }

        .linkitem2 {
            width: 350px;
            background: #FFE8D4;
            border-right: 2px solid #d4e6f0;
            border-left: 2px solid #d4e6f0;
            padding: 1em;
            text-align:center;            
            font-size: 120%;
            color: #09146c;
        }

        .linkitem3 {
            width: 350px;
            background: #a5bdde;
            padding: 1em;
            text-align:center;            
            font-size: 120%;
            color: #09146c;

        }

        .content {
            display: flex;
            flex-direction: row;
        }

        .content > article {
            flex: 4;
            min-height: 60vh;
        }


        header{
            background: #d4e6f0;
            height: 200px; 
            white-space:nowrap;
            
        }
        header_main{
            background: #d4e6f0;
            height: 268px; 
            padding: 1em;
        }
        footer {
            background: #d4e6f0;
            height: 200px; 
        }
        header, footer, article, nav {
            padding: 1em;
        }


        @font-face {
            font-family: "Saucer";
            src: url("../fonts/SaucerBB.ttf");
        }
        mh10 {
            font-family: Saucer;
            font-size: 300%;
            color:#191fb7;
        }
        mh11 {
            font-family: Saucer;
            font-size: 600%;
            color:#7600ff;
        }

        mh12 {
            font-size: 12;
        }
        mh1 {
            font-size: 150%;
        }
        mh2 {
            font-size: 130%;
        }
        mh3 {
            font-size: 120%;
            white-space: pre-wrap; 
        }

        mh4 {
            font-size: 130%;
            font-weight: bold;
            white-space: pre; 
        }
        mh5 {
            font-size: 150%;
            font-weight: bold;
        }

        mh6 {
            font-size: 200%;
            font-weight: bold;
            color: #09146c;
            background: #d4e6f0;
            padding-bottom: .3em;
            padding-top: .3em;
            padding-left: .3em;
            
        }
        mh7 {
            font-size: 150%;
            font-weight: bold;
            color: #09146c;
            background: #d4e6f0;
            padding-bottom: .3em;
            padding-top: .3em;
            padding-left: .3em;
            
        }

        mh8 {
            font-size: 300%;
            font-weight: bold;
            color: black;
            padding-bottom: .3em;
            padding-top: .3em;
            padding-left: .3em;
            
        }



        me1 {
            padding-top: .3em;
            white-space: pre-wrap; 
            font-size: 130%;
            background: #f2d4a4;
        }




        pk0 {
            white-space: pre-wrap; 
            font-size: 140%;
            background: #cdf5af;
        }
        pk1 {
            white-space: pre-wrap; 
            font-size: 120%;
            background: #f2efc9;
        }

        


