/* mdw.css */


        * {
            box-sizing: border-box; 
        }
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: row;
            margin: 0;
        }
        .col-1 {
            background: #D7E8D4;
            flex: 1;
        }
        .col-2 {
            display: flex;
            flex-direction: column;
            flex: 5;
        }

        .linkrow {
            width: 1050px;
            display: flex;
            flex-direction: row;
            border: solid #8f11eb;
         }

        .linkitem1 {
            width: 350px;
            background: #cc9090;
            padding: 1em;
            text-align:center;            
            font-size: 120%;
            color: #09146c;
        }

        .linkitem2 {
            width: 350px;
            background: #FFE8D4;
            border-right: 2px solid #8f11eb;
            border-left: 2px solid #8f11eb;
            padding: 1em;
            text-align:center;            
            font-size: 120%;
            color: #09146c;
        }

        .linkitem3 {
            width: 350px;
            background: #a5bdde;
            padding: 1em;
            text-align:center;            
            font-size: 120%;
            color: #09146c;

}

        .content {
            display: flex;
            flex-direction: row;
        }

        .content > article {
            flex: 4;
            min-height: 60vh;
        }


        header{
            background: #c4c9d1;
            height: 240px; 
        }
        footer {
            background: #c4c9d1;
            height: 200px; 
        }
        header, footer, article, nav {
            padding: 1em;
        }


        @font-face {
            font-family: "Saucer";
            src: url("../fonts/SaucerBB.ttf");
        }
        mh10 {
            font-family: Saucer;
            font-size: 500%;
        }
        mh11 {
            font-family: Saucer;
            font-size: 600%;
            color:#8800FF;
        }

        mh12 {
            font-size: 12;
        }
        mh1 {
            font-size: 150%;
        }
        mh2 {
            font-size: 130%;
        }
        mh3 {
            font-size: 120%;
            white-space: pre; 
        }

        mh4 {
            font-size: 130%;
            font-weight: bold;
            white-space: pre; 
        }
        mh5 {
            font-size: 150%;
            font-weight: bold;
        }

        mh6 {
            font-size: 200%;
            font-weight: bold;
            color: #09146c;
            background: #d8b6b6;
            padding-bottom: .3em;
            padding-top: .3em;
            padding-left: .3em;
            
        }

