:root
{
  --timelineColor       : hsl(255, 100%, 50%);    
  --sessionsTableColor  : hsl(180, 100%, 50%);    
  --currentSessionColor : hsl(120, 100%, 50%);    
  --gmTableColor        : hsl(60,  100%, 50%);    
  --currentGmColor      : hsl(360, 100%, 50%);    
  --timelineHeight      : 600px;
  --colorSliderWidth    : 60px;
}


body
{
   background-color: #000000;
   color: #FFFFFF;
   font-family: monospace;
   font-size: 1rem;
}

a:link
{
   color: #77d7ff; /* A light blue for unvisited links */
   text-decoration: none;
}

a:visited { color: #b39ddb; } /* A light purple/violet for visited links */
a:hover { color: #FFFFFF; } /* White on hover */


#chartContainer
{
   height: var(--timelineHeight);
}

.colorSlider
{
   width: var(--colorSliderWidth);
   display: none; 
   height: 6px;
   appearance: none;
   background: linear-gradient(to right, 
      hsl(0, 100%, 50%), 
      hsl(60, 100%, 50%), 
      hsl(120, 100%, 50%), 
      hsl(180, 100%, 50%), 
      hsl(240, 100%, 50%), 
      hsl(300, 100%, 50%), 
      hsl(360, 100%, 50%)
      );
}

.colorSlider::-webkit-slider-thumb
{
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  border: 2px solid #FFFFFF; 
  width: 16px;
  height: 16px;
  background: #888888;
  cursor: pointer;
}

.colorSlider::-moz-range-thumb
{
  width: 16px;
  height: 16px;
  border: 2px solid #FFFFFF; 
  border-radius: 50%;
  background: #888888;
  cursor: pointer;
}

.controlLine
{
   display: flex;
   align-items: center;
   border: 1px solid #888888; 
   padding: 4px;
}



.divSessionsPageTopRow
{
   display: grid;
   grid-template-columns: 1fr auto 1fr; 
   width: 100%;
}

.divSessionsPageTopRowCenter
{
    justify-self: center; 
    grid-column: 2;
}

.divSessionsPageTopRowRight
{
   justify-self: end;
   grid-column: 3;
}

#settingsDialog
{
   color: #CCCCCC;
   background: #111111;
   border: 4px solid #FFFFFF;
   border-radius: 8px;
}


/* ---------- container for all sections on page ---------- */
.divSessionsPage
{ 
   display: flex;    
   flex-direction:column;    
   gap: 2px; 
   padding: 0px;
}

/* ---------- flex box for top page navigation link buttons  ---------- */
.divSessionsPageLinks
{ 
   display: flex;    
   gap: 8px;
   justify-content: center;
   align-items: center;
}




/* ---------- common containers for sections ----------- */

/* ---------- container for entire section -------------
   has border and background
   ----------------------------------------------------- */
.divSectionContainer
{ 
   display: flex;    
   flex-direction:column;    
   border: 2px solid #FFFFFF;
}


.divSectionContainerMinimized
{ 
   display: flex;    
   flex-direction:column;    
   border: 2px solid #FFFFFF;
   border-bottom: none;
}



/* ---------- title section   ----------------------------- */


/* ---------- title section frame   ---------- 
   top level container for section       
   draws the frame for the title section (actually just an underline)
   ----------------------------------------------------- */
.divSectionTitleSectionFrame
{ 
   border-bottom: 2px solid #FFFFFF;
}

/* ---------- title section container   ---------- 
   container for title section
   contains 2 things:
   - title frame   
   - buttons frame
   ----------------------------------------------------- */
.divSectionTitleSectionContainer
{ 
   display: flex;    
   justify-content: space-between;
   padding: 0px 4px; 
}

/* ---------- frame for title text ---------- */
.divSectionTitleFrame
{ 
   display: flex;    
   gap: 12px;
   font-size: 1.6rem;
   font-weight: bold;
   align-items: center;
}

/* ---------- flex box for title frame buttons  ---------- */
.divSectionTitleFrameButtonsFrame
{ 
   display: flex;    
   gap: 8px;
   justify-content: center;
   align-items: center;
}

.divSectionSubSectionSessionsTable
{ 
   padding: 0px 12px;
}

.divSectionSubSectionTable
{ 
   padding: 0px;
   border: none;
}

.divSectionSubSectionPretext
{ 
/*    font-size: 1rem; */
   display: block;
   font-family: monospace;
   white-space: pre;
   padding: 2px 6px;
}


.divSectionSubSectionTitleFrame
{ 
   border-top: 2px solid #FFFFFF;
   border-bottom: 2px solid #FFFFFF;
   font-size: 1.3rem;
   font-weight: bold;
   padding-left: 4px;
}


.buttonLabel
{
   font-family: monospace;
   font-size: 16px;
   color: #FFFFFF;
   padding: 1px 8px;
   text-align: center;
}

.select
{
   font-family: monospace;
   font-size: 16px;
   color: #FFFFFF;
   border-radius: 2px;
   width: fit-content; 
   padding: 1px 2px 1px 4px;
   text-align: left;
   text-decoration: none;
   cursor: pointer;
   border: 2px solid;
}   





.button
{
   font-family: monospace;
   font-size: 16px;
   color: #FFFFFF;
   border-radius: 2px;
   padding: 1px 8px;
   text-align: center;
   text-decoration: none;
   cursor: pointer;
   border: 2px solid;
}

.minimizeButton
{
   font-family: monospace;
   font-size: 16px;
   color: #FFFFFF;
   border-radius: 2px;
   padding: 1px 5px;
   text-align: center;
   text-decoration: none;
   cursor: pointer;
   border: 2px solid;
}



.linksButton
{
   color: #f0e6ff;
   background-color: #140033;
   border: 1px solid #6600FF;
}
.linksButton:hover {  border-color: #f0e6ff; }







/* colors for timeline section */
.timeline
{
   --col: var(--timelineColor); 
   color           : oklch(from var(--col) .95 .05 h);
   border-color    : var(--col);
   background-color: oklch(from var(--col) 0.1 0.1 h);
}

/* colors for timeline range table */
.timelineRangeTable
{
   border: none;
   border-collapse: collapse;
   font-size: 1rem;

/*
   width: 100%;
   font-family: sans-serif;

*/

}
.timelineRangeTable td { padding: 0px 4px;  border: 1px solid var(--timelineColor);} 


/*
   border          : 1px solid;
   border-color    : var(--col);
   border          : none;
*/

.timelineSelect
{
   --col: var(--timelineColor); 
   color           : oklch(from var(--col) .95 .05 h);
   border          : none;
   background-color: oklch(from var(--col) 0.1 0.1 h);
   font-size: 1rem;
}













/* colors for sessions_table section */ 
.sessionsTable
{
   --col: var(--sessionsTableColor); 
   color           : oklch(from var(--col) .95 .05 h);
   border-color    : var(--col);
   background-color: oklch(from var(--col) 0.1 0.1 h);
}


.sessionsTableTable
{
   font-size: 1rem;

   --col: var(--sessionsTableColor); 
   color           : oklch(from var(--col) .95 .05 h);
   border-color    : var(--col);
   background-color: oklch(from var(--col) 0.1 0.1 h);
}
.sessionsTableTable th
{
   background-color: oklch(from var(--sessionsTableColor) 0.2 0.1 h);
   border-collapse: collapse;
   border    : 1px solid #444444;
}
.sessionsTableTable tr
{
   background-color: oklch(from var(--sessionsTableColor) 0.2 0.1 h);
}
.sessionsTableTable tr:hover
{
   background-color: oklch(from var(--sessionsTableColor) 0.2 0.2 h);
}






/* colors for current session */ 
.currentSession
{
   --col: var(--currentSessionColor); 
   color           : oklch(from var(--col) .95 .05 h);
   border-color    : var(--col);
   background-color: oklch(from var(--col) 0.1 0.1 h);
}





/* colors for gm table */
.gmTable
{
   --col: var(--gmTableColor); 
   color           : oklch(from var(--col) .95 .05 h);
   border-color    : var(--col);
   background-color: oklch(from var(--col) 0.1 0.1 h);
}

.gmTableTable
{
   border: none;
   border-collapse: collapse;
   width: 100%;

/*
   font-family: sans-serif;
   font-size: .8rem;
*/

}
.gmTableTable td { padding: 1px;  border: 1px solid  var(--gmTableColor);  text-align: center; }
.gmTableTable th { padding: 1px;  border: 1px solid  var(--gmTableColor);  text-align: center; }
.gmTableTable tr:hover { background-color: oklch(from var(--gmTableColor) 0.2 0.2 h);}



/* colors for current gm */
.currentGm
{
   --col: var(--currentGmColor); 
   color           : oklch(from var(--col) .95 .05 h);
   border-color    : var(--col);
   background-color: oklch(from var(--col) 0.1 0.1 h);
}

.currentGmTable
{
   border: none;
   border-collapse: collapse;
   width: 100%;

/*
   font-family: sans-serif;
   font-size: .8rem;
*/

}
.currentGmTable td { padding: 4px;  border: 1px solid var(--currentGmColor);} 
.currentGmTable tr:hover { background-color: oklch(from var(--currentGmColor) 0.2 0.2 h); }







/* colors for status_page */
.statusPage, .statusPageButton
{
   color           : hsl(260, 100%, 97%);
   border-color    : hsl(260, 100%, 50%);
   background-color: hsl(260, 100%, 5%);
}
.statusPageButton:hover { border-color: hsl(260, 100%, 80%); }


.statusPageTable
{
   border: none;
   border-collapse: collapse;
   width: 100%;
   font-family: sans-serif;
   font-size: .8rem;
}
.statusPageTable td { padding: 4px;  border: 1px solid hsl(260, 100%, 50%);} 
.statusPageTable tr:hover {          background-color: hsl(260, 100%, 15%);}










/* ---------- container for player icon and player name text ---------- */

/*
used in:

currentGm
currentSession
sessionsTable
statusPage

*/

.iconTextContainer
{
   display: flex;      
   align-items: center;
   gap: 10px;
}
.iconTextContainerIcon { width: 20px; height: 20px; }
.iconTextContainerText { font-family: monospace; font-weight: normal; font-size: 16px; padding-top:2px; white-space:pre } 









/*
  
  these are used in gmTable

*/

/* ---------- container for players cell ---------- */
.playersCell
{
   display: flex;      
   align-items: center;
   gap: 2px;
   padding: 0px;
}
.playersCellIcon { width: 20px; height: 20px; }

/* ---------- container for level cell ---------- */
.levelCell
{
   display: flex;      
   align-items: center;
   justify-content:center;
   gap: 8px;
   padding: 0px;
}


