
body
{
   background-color: #000000; /* Black background */
   color: #FFFFFF; /* White body text */
}

a:link
{
   color: #77d7ff; /* A light blue for unvisited links */
   text-decoration: underline; /* Always use an underline for accessibility */
}

a:visited
{
   color: #b39ddb; /* A light purple/violet for visited links */
}

a:hover
{
   color: #FFFFFF; /* White on hover */
}

/* ---------- container for all sections on page ---------- */
.div-sessions-page
{ 
   display: flex;    
   flex-direction:column;    
   //border: 1px solid #FFFFFF;
   gap: 10px; 
   padding: 0px;
}


/* ---------- common containers for sections ---------- */
.div-section-container
{ 
   display: flex;    
   flex-direction:column;    
   border: 2px solid #FFFFFF;
}
.div-section-title-frame
{ 
   border-bottom: 2px solid #FFFFFF;
   font-size: 1.6rem;
   font-weight: bold;
   padding-left: 4px;
}

.div-section-sub-section-links
{ 
   display: flex;    
   justify-content: center;
   gap: 30px;
   border-bottom: 2px solid #FFFFFF;
}

.div-section-sub-section-table
{ 
   padding: 0px 12px;
}

.div-section-sub-section-gm_table
{ 
   padding: 0px;
   broder: none;
}

.div-section-sub-section-pretext
{ 
   font-size: 1rem;
   display: block;
   font-family: monospace;
   white-space: pre;
   padding: 4px;
}


.div-section-sub-section-title-frame
{ 
   border-top: 2px solid #FFFFFF;
   border-bottom: 2px solid #FFFFFF;
   font-size: 1.3rem;
   font-weight: bold;
   padding-left: 4px;
}


div#sessions
{
   background-color: #000a1a;
   border-color: #0062ff;
   color: #cce0ff;
}

div#current_session
{
   background-color: ##001a00;
   border-color: #00ff00;
   color: #ccffcc;
}

div#gm_table
{
   background-color: #1a1100;
   border-color: #ffaa00;
   color: #ffeecc;
}



/* ---------- styles for sessions table elements ---------- */
thead#mdw123
{
   background-color: #001433; 
   color: #FFFFFF;
}
tr#mdw123
{
   background-color: #000a1a;
   color: #FFFFFF;
}
tr#mdw123:hover
{
   background-color: #001433;
}





/* ---------- container for player icon and player name text ---------- */
.icon-text-container
{
   display: flex;      
   align-items: center;
   gap: 10px;          
}
.icon { width: 20px; height: 20px; }
.text { /*font-size: 1rem;*/ }

/* ---------- hack because sometimes <hr> does not work in flexbox ---------- */
.hack-hr
{
   color: #000000;
   font-size: 1rem;
   font-weight: normal;
   line-height: 0;
   margin: 0;

}

/* ---------- gm table styling ---------- */
#mdw
{
   border-collapse: collapse;
   width: 100%;
   background-color: #1a1100;
   color: #FFFFFF;

   font-family: sans-serif;
   font-size: .8rem;
}

#mdw td, th { padding: 2px;  border: 1px solid #ffa600; }

#mdw tr:hover { background-color: #332100;}

#mh_center, #md_center { text-align: center; }
#mh_left,   #md_left   { text-align: left; }










