:root
{
  --timeline-color         : hsl(255, 100%, 50%);    
  --sessions_table-color   : hsl(180, 100%, 50%);    
  --current_session-color  : hsl(120, 100%, 50%);    
  --gm_table-color         : hsl(60,  100%, 50%);    
  --current_gm-color       : hsl(360, 100%, 50%);    
  --timeline-height        : 600px;

  --color_slider-width     : 60px;

}

#chart-container
{
   height: var(--timeline-height);
}


.color_slider
{
   width: var(--color_slider-width);
   display: none; 

   height: 6px;

   appearance: none;

   background: linear-gradient(to right, 
      hsl(0, 100%, 50%), 
      hsl(60, 100%, 50%), 
      hsl(120, 100%, 50%), 
      hsl(180, 100%, 50%), 
      hsl(240, 100%, 50%), 
      hsl(300, 100%, 50%), 
      hsl(360, 100%, 50%)
);

}




.color_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  border: 2px solid #FFFFFF; 
  width: 16px;
  height: 16px;
  background: #888888;
  cursor: pointer;
}

.color_slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border: 2px solid #FFFFFF; 
  border-radius: 50%;
  background: #888888;
  cursor: pointer;
}





.control_line
{
   display: flex;
   align-items: center;
   border: 1px solid #888888; 
   padding: 4px;
}

.hidden
{
  display: none; /* or visibility: hidden; */
}




body
{
   background-color: #000000;
   color: #FFFFFF;
}

a:link
{
   color: #77d7ff; /* A light blue for unvisited links */
   text-decoration: none;
}

a:visited { color: #b39ddb; } /* A light purple/violet for visited links */
a:hover { color: #FFFFFF; } /* White on hover */


/* ---------- flex box for top page navigation link buttons  ---------- */
.div-sessions-page-links
{ 
   display: flex;    
   gap: 8px;
   justify-content: center;
   align-items: center;
}




/* ---------- container for all sections on page ---------- */
.div-sessions-page
{ 
   display: flex;    
   flex-direction:column;    
/*   border: 1px solid #FFFFFF; */
   gap: 2px; 
   padding: 0px;
}

/* ---------- common containers for sections ----------- */

/* ---------- container for entire section -------------
   has border and background
   ----------------------------------------------------- */
.div-section-container
{ 
   display: flex;    
   flex-direction:column;    
   border: 2px solid #FFFFFF;
}

/* ---------- title section   ----------------------------- */


/* ---------- title section frame   ---------- 
   top level container for section       
   draws the frame for the title section (actually just an underline)
   ----------------------------------------------------- */
.div-section-title-section-frame
{ 
   border-bottom: 2px solid #FFFFFF;
}

/* ---------- title section container   ---------- 
   container for title section
   contains 2 things:
   - title frame   
   - buttons frame
   ----------------------------------------------------- */
.div-section-title-section-container
{ 
   display: flex;    
   justify-content: space-between;
   padding: 0px 4px; 
}

/* ---------- frame for title text ---------- */
.div-section-title-frame
{ 
   display: flex;    
   gap: 12px;
   font-size: 1.6rem;
   font-weight: bold;
}

/* ---------- flex box for title frame buttons  ---------- */
.div-section-title-frame-buttons-frame
{ 
   display: flex;    
   gap: 8px;
   justify-content: center;
   align-items: center;
}


.chart-container
{ 
   padding: 0px, 0px;
}

.div-section-sub-section-timeline
{ 
   padding: 0px, 0px;
}

.div-section-sub-section-table
{ 
   padding: 0px 12px;
}

.div-section-sub-section-gm_table
{ 
   padding: 0px;
   border: none;
}

.div-section-sub-section-pretext
{ 
   font-size: 1rem;
   display: block;
   font-family: monospace;
   white-space: pre;
   padding: 2px 6px;
}


.div-section-sub-section-title-frame
{ 
   border-top: 2px solid #FFFFFF;
   border-bottom: 2px solid #FFFFFF;
   font-size: 1.3rem;
   font-weight: bold;
   padding-left: 4px;
}




.button-label
{
   font-family: monospace;
   font-size: 16px;
   color: #FFFFFF;
   padding: 1px 8px;
   text-align: center;
}


.button
{
   font-family: monospace;
   font-size: 16px;
   color: #FFFFFF;
   border-radius: 2px;
   padding: 1px 8px;
   text-align: center;
   text-decoration: none;
   cursor: pointer;
   border: 2px solid;
}






.min-button
{
   font-family: monospace;
   font-size: 16px;
   color: #FFFFFF;
   border-radius: 2px;
   padding: 1px 5px;
   text-align: center;
   text-decoration: none;
   cursor: pointer;
   border: 2px solid;
}






.links_button
{
   color: #f0e6ff;
   background-color: #140033;
   border: 1px solid #6600FF;
}
.links_button:hover {  border-color: #f0e6ff; }




/* colors for timeline section */
.timeline
{
   --col: var(--timeline-color); 
   color           : oklch(from var(--col) .95 .05 h);
   border-color    : var(--col);
   background-color: oklch(from var(--col) 0.1 0.1 h);
}

/* colors for sessions_table section */ 
.sessions_table
{
   --col: var(--sessions_table-color); 
   color           : oklch(from var(--col) .95 .05 h);
   border-color    : var(--col);
   background-color: oklch(from var(--col) 0.1 0.1 h);
}
.sessions_table_row, .sessions_table_head
{
   background-color: oklch(from var(--sessions_table-color) 0.1 0.1 h);
}
.sessions_table_row:hover
{
   background-color: oklch(from var(--sessions_table-color) 0.2 0.2 h);
}











/* colors for current session */ 
.current_session
{
   --col: var(--current_session-color); 
   color           : oklch(from var(--col) .95 .05 h);
   border-color    : var(--col);
   background-color: oklch(from var(--col) 0.1 0.1 h);
}

/* colors for gm table */
.gm_table
{
   --col: var(--gm_table-color); 
   color           : oklch(from var(--col) .95 .05 h);
   border-color    : var(--col);
   background-color: oklch(from var(--col) 0.1 0.1 h);
}

.gm_tablet
{
   border: none;
   border-collapse: collapse;
   width: 100%;
   font-family: sans-serif;
   font-size: .8rem;
}
.gm_tablet td { padding: 1px;  border: 1px solid  var(--gm_table-color);  text-align: center; }
.gm_tablet th { padding: 1px;  border: 1px solid  var(--gm_table-color);  text-align: center; }
.gm_tablet tr:hover { background-color: oklch(from var(--gm_table-color) 0.2 0.2 h);}





/* colors for current gm */
.current_gm
{
   --col: var(--current_gm-color); 
   color           : oklch(from var(--col) .95 .05 h);
   border-color    : var(--col);
   background-color: oklch(from var(--col) 0.1 0.1 h);
}

.current_gm_table
{
   border: none;
   border-collapse: collapse;
   width: 100%;
   font-family: sans-serif;
   font-size: .8rem;
}
.current_gm_table td { padding: 4px;  border: 1px solid var(--current_gm-color);} 
.current_gm_table tr:hover {          background-color: oklch(from var(--current_gm-color) 0.2 0.2 h);}











/* colors for status_page */
.status_page, .status_page_button
{
   color           : hsl(260, 100%, 97%);
   border-color    : hsl(260, 100%, 50%);
   background-color: hsl(260, 100%, 5%);
}
.status_page_button:hover { border-color: hsl(260, 100%, 80%); }
.status_page_table
{
   border: none;
   border-collapse: collapse;
   width: 100%;
   font-family: sans-serif;
   font-size: .8rem;
}
.status_page_table td { padding: 4px;  border: 1px solid hsl(260, 100%, 50%);} 
.status_page_table tr:hover {          background-color: hsl(260, 100%, 15%);}












/* ---------- container for player icon and player name text ---------- */
.icon-text-container
{
   display: flex;      
   align-items: center;
   gap: 10px;
}
.icon { width: 20px; height: 20px; }
.text { font-family: monospace; font-weight: normal; font-size: 16px; padding-top:2px; white-space:pre } 


/* ---------- container for players cell ---------- */
.players-cell
{
   display: flex;      
   align-items: center;
   gap: 2px;
   padding: 0px;
}
.players-cell-icon { width: 20px; height: 20px; }


/* ---------- container for level cell ---------- */
.level-cell
{
   display: flex;      
   align-items: center;
   justify-content:center;
   gap: 8px;
   padding: 0px;
}


